doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="main.css")
    block stylesheets
  body
    header
        div(class='heading')
          a(href='/',style=`color:${title==="Home"?'white':'#978d8d'}`) Home 
          a(href='/about',style=`color:${title==="About"?'white':'#978d8d'}`) About
          a(href='/contact',style=`color:${title==="Contact"?'white':'#978d8d'}`) Contact
          a(href='/support',style=`color:${title==="Support"?'white':'#978d8d'}`) Support
        div(class='nav')
          a(href='/friends') Friend
    block contentes
    block scripts
    footer 
      p @copyright  
        a(href="https://github.com/sivaprasath2004") sivaprasath2004

